body {
    background-color: lightblue;
}

p {
    margin-left: 20px;
    font-size: 100px;
}

@font-face {
    font-style: normal;
    font-family: fancyFont;
    src: url(assets/RemachineScript.ttf) format("truetype");
}

.fancy-font {
    font-family: fancyFont;
    color: rgb(233, 67, 30);
}

.default-font {
    font-family: 'Times New Roman', Times, serif;
    color: navy;
}